<h1>Quinten's website</h1>
<p>Deze website is gemaakt voor het vak: App</p>
<p>Dit zijn de aanpassingen sinds 2018:</p>
<ul>
    <li>Een lazy module geïmplementeerd (LazyModuleModule) met het lazyloaded component (HeavyComponent)</li>
    <li>Een nieuw component dat je ziet in de header (SelectComponent) dat voor de navigatie zorgt</li>
    <li>Foutmeldingen toegevoegd aan de formulieren (Login & registreren)</li>
    <li>Opmaak van de website verbeterd: 
        <ul>
            <li>Achtergrond toegevoegd (lichte blauwe lijnen)</li>
            <li>Inlog- en registratieformulier verfraaid</li>
        </ul>
    </li>
</ul>
Al deze aanpassingen staan ook vermeld op <a href="https://github.com/QuintenOne/angular">GitHub</a>.