input.ng-invalid.ng-touched { 
    border: 1px solid red; 
    background-color: #ddd
}

#form {
    text-align: center;
    margin: 50px 0;
    padding: 0px 40%;
    border: 2px dotted black;
    background-color: #eee
}

.form-item {
    margin: 10px 0px;
}